body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #fc575e, #f7b42c, #0d324d);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

.add-task {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

button.add-task-btn {
    background-color: #4caf50;
    color: #fff;
}

button.add-task-btn:hover {
    background-color: #45a049;
}

button.clear-btn {
    background-color: #ff5252;
    color: #fff;
}

button.clear-btn:hover {
    background-color: #ff4747;
}

.options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#previousTasks {
    margin-top: 20px;
}

.previous-task {
    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.previous-task p {
    font-weight: bold;
}

.task p {
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
